.place__title {
    font-family: 'Inter-Black';
    grid-area: title;
    font-size: 72px;
    line-height: 106%;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .place__title {
        font-size: 42px;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        font-size: 32px;
        line-height: 109%;
    }
}
