.header {
    max-width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 28px;
    padding-bottom: 56px;
}

@media screen and (max-width: 768px) {
    .header {
        max-width: calc(100% - (24px*2));
   } 
}

@media screen and (max-width: 400px) {
    .header {
        max-width: 289px;
        padding-bottom: 45px;
        padding-top: 18px;
   } 
   
}

   @media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        padding-bottom: 48px;
        padding-top: 16px;
   } 
   
}