.header {
    max-width: calc(100% - 96px);
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    margin: 0 auto;
    padding-bottom: 56px;
}

@media screen and (max-width: 768px) {
    .header {
        max-width: calc(100% - (24px*2));
   } 

   @media screen and (max-width: 320px) {
    .header {
        max-width: calc(100% - (16px*2));
   } 
   }
}