.cover__title {
    max-width: 560px;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 72px;
    line-height: 106%;
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 32px;
    text-decoration: none;
    z-index: 3;
    color: #fff;
    position: relative;
    
}


@media screen and (max-width: 620px) {
    .cover__title {
        font-size: 42px;
        line-height: 110%;
        padding-bottom: 16px;

    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
    }
}