.cover__title {
    display: flex;
    font-family: 'Inter-Black';
    font-size: 72px;
    line-height: 106%;
    font-weight: 900;
    text-align: center;
    max-width: 560px;
    margin: 0 auto;
    padding-bottom: 32px;
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width: 320px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 110%;
        padding-bottom: 16px;

    }
}