.footer {
    display: flex;
    justify-content: space-between;
    width: calc(100% - (48px*2));
    margin: 0 auto;
    padding-top: 92px;
}



@media screen and (max-width: 768px) {
    .footer {
        width: calc(100% - (24px*2)); 
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: calc(100% - 134px);
        display: flex;
        flex-direction: column;
    }
}