.place__website {
    grid-area: website;
    align-self: end;
    list-style-type: none;
    padding-left: 0;
}

@media screen and (max-width: 320px) {
    .place__website {
      visibility: hidden;
  }
}