.lead__polka {
    width: 100%;
    max-width: 984px;
    height: auto;
    
}

@media screen and (max-width: 1024px) {
    .lead__polka {
        max-width: 928px;
        max-height: auto;
        
    }
}

@media screen and (max-width: 768px) {
    .lead__polka {
        max-width: 100%;
        max-height: auto;
    }
}

@media screen and (max-width: 320px) {
    .lead__polka {
        max-width: 320px;
        max-height: auto;
    }
}