.lead__polka {
    width: 100%; /*изображение на  промежуточных размерах вылазиет за границы блока*/
    max-width: 984px;
    object-fit: cover;
    
}

@media screen and (max-width: 1024px) {
    .lead__polka {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .lead__polka {
        max-width: 100vw;
    }
}

@media screen and (max-width: 320px) {
    .lead__polka {
        max-width: 100vw;
    }
}